.leftSide {
    grid-area: ls;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "ls rs";
    grid-gap: 20px;
    background-image: url("./img/2.jpg");
    background-size: 100%;
    max-width: 650px;
    height: 490px;
    margin: 0 auto;
    box-shadow: 15px 15px 15px black;
}

.rightSide {
    grid-area: rs;
}